@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import '../node_modules/glider-js/glider.min.css';
:root {
  --bg-body: #4d3e3e;
  --light: #fff3cd;
  --light2: #ffc38b;
  --light3: #ff926b;

}
html , body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  max-width: 1920px;
  background:var(--bg-body);
}

.App{
  width: 100%;
  
}

.margin {
  width: 90%;
  margin: 0 auto;
  
}

/* Header */
.header-container {
  
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1.3em 1em; */
  padding: 1.3em 0;
  
  
}

.logo {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color : var(--light);
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

.logo-link {
  text-decoration: none;
}

.logo span {
  color: var(--light3);
}

.header-search-container {
  margin: 1em;
  
}



.search {
  border: 1.5px solid var(--light);
  background: transparent;
  border-radius: 10px;
  padding: .4em;
  color: var(--light3);
  
}

.search:focus {
  outline: none;
  fill: none;
  box-shadow: 0px 0px 3px whitesmoke;
 
}

/* Hero */
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

.options h2 {
  width: 20%;
  margin: 0em .3em;
  font-weight: 700;
  font-size: 1rem;
  color: var(--light);
  cursor: pointer;
  transition: all .3s ease-in;
}

h2:hover{
  color: var(--light2);
  /* font-size: 2.5rem;  */
  transform: scale(1.2);
  text-shadow: 2px 2px 2px black;
}

.active {
  color: var(--light2)!important;
  transform: scale(1.2); 
  text-shadow: 2px 2px 2px black;
  
}

.movie-container {
  width: 100%;
  /* height: 80vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.movie-container::-webkit-scrollbar {
  width: .1em;
}

.movie-container::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.movie-container::-webkit-scrollbar-thumb {
  background-color: var(--light3);
  outline: 1px solid slategrey;
}

.movies {
  width: 90px;
  color: var(--light);
  margin: 1em;
}

.movies_img {
  width: 100%;
  border: 5px solid var(--light3);
}

.movies p {
  margin: 0;
  padding: 0;
}

.movies_title{
  font-size: .8rem;
  font-weight: 700;
}

.movies_year{
  font-weight: 300;
  font-size: .8rem;
}

.notfound-container{
  color: var(--light2);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.btn-back {
  color: var(--light2);
  text-decoration: none;
  padding: .5em;
  border: 1px solid var(--light3);
}

.details-container {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light);
  animation: details 1s;
}

@keyframes details {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.details-img-container{
  width: 100%;
}

.details-img-container img {
  width: 100%;
  border: 5px solid var(--light3);
}

.details-content-container {
  width: 100%;
}

.details-content-container span {
  color: var(--light3);
}

.footer-container {
  background: #313131;
  color:var(--light2);
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 100%;
  margin-top: 2em;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.footer-content-container a {
  color: var(--light);
  
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}

.search-container::-webkit-scrollbar {
  width: .1em;
}

.search-container::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-container::-webkit-scrollbar-thumb {
  background-color: var(--light3);
  outline: 1px solid slategrey;
}










/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  /* Header */
  .hero-container {
    flex-direction: column;
  }

  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo {
    text-align: left;
  }

  .header-search-container {
    margin: 0;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .hero-container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  .options {
    display: block;    
    width: 20%;
    padding-left: 1em;
  }

  .options h2 {
    width: 30%;
    font-weight: 700;
    font-size: 2rem;
    color: var(--light);
    cursor: pointer;
    transition: all .3s ease-in;
  }

  .movie-container {
    width: 75%;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .search-container {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;  
  }

  .details-container {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light);
    animation: details 1s;
  }
  
  @keyframes details {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .details-img-container{
    width: 30%;
  }
  
  .details-img-container img {
    width: 100%;
    border: 5px solid var(--light3);
  }
  
  .details-content-container {
    width: 60%;
  }
  
 }



